body{
    margin: 0px;
    padding: 0px;
}

iframe{
    all: unset;
    margin-top: 10vh;
    padding: 0px;
    border: none;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 10vh;
    overflow: hidden;
}

#searchBox{
    all: unset;
    border: solid 1px #4286f4;
    border-radius: 50px 50px 50px 50px;
    font-size: 2.5vw;
    position: relative;
    top: 5vh;
    left: 10vw;
    padding: 2vw 2.5vw;
    transition-duration: .3s; 
}
#searchBox:hover{
    box-shadow: 0px 10px 50px 0px #2c2c2c;
}
#searchBox:active{
    box-shadow: 0px 10px 50px 0px #2c2c2c;
}

#randomArticleBtn{
    all: unset;
    background-color: #4286f4;
    color: #ffffff;
    border-radius: 50px 50px 50px 50px;
    font-size: 2.5vw;
    position: relative;
    top: 5vh;
    left: 15vw;
    padding: 2vw;
    cursor: pointer;
    transition-duration: .3s;
}
#randomArticleBtn:hover{
    box-shadow: 0px 10px 50px 0px #2c2c2c;
}

#suggestionDiv{
    position: relative;
    top: 15vh;
    margin-left: 10vw;
    font-size: 3vw;
}

#searchResultsDiv{
    all: unset;
    height: 100%;
    position: relative;
    top: 15vh;
    margin-left: 5vw;
    font-size: 2vw;
    cursor: pointer;
}

.listItem{
    font-size: 2vw;
    transition-duration: .1s;
    padding: 2vw;
    border-top: solid .1px #a3a3a3;
}
.listItem:hover{
    border-left: .3vw solid #4286f4;
}
.listItem:active{
    border-left: .3vw solid #4286f4;
    box-shadow: 10px 5px 50px 0px #000000; 
}

@media screen and (max-width: 600px){
    #searchBox{
        font-size: 4vw;
        left: 5vw;
    }

    #randomArticleBtn{
        font-size: 4vw;
        left: 8vw;
    }

    #suggestionDiv{
        margin-left: 5vw;
        margin-bottom: 0vh;
        font-size: 3.5vw;
    }
    
    .listItem{
        font-size: 2vw;
        transition-duration: .2s;
        padding: 2vw;
    }
    .listItem:active{
        border-left: .5vw solid #4286f4;
        box-shadow: 10px 5px 50px 0px 000000; 
    }
}